/FarmProfit/.vs
/FarmProfit/FarmProfit.API/obj
/FarmProfit/FarmProfit.API/bin
FarmProfit/FarmProfit.API/Logs/log.txt
FarmProfit/FarmProfilt.Android/.kotlin/errors/errors-1757702652731.log
FarmProfit/FarmProfilt.Android/.kotlin/errors/errors-1757702682075.log
FarmProfit/FarmProfilt.Android/.kotlin/errors/errors-1757703155822.log
FarmProfit/FarmProfilt.Android/.kotlin/errors/errors-1757703302985.log
FarmProfit/FarmProfilt.Android/.kotlin/errors/errors-1757703340424.log
FarmProfit/FarmProfilt.Android/.idea/.name
FarmProfit/FarmProfilt.Android/.idea/AndroidProjectSystem.xml
FarmProfit/FarmProfilt.Android/.idea/compiler.xml
FarmProfit/FarmProfilt.Android/.idea/copilot.data.migration.agent.xml
FarmProfit/FarmProfilt.Android/.idea/copilot.data.migration.edit.xml
FarmProfit/FarmProfilt.Android/.idea/deploymentTargetSelector.xml
FarmProfit/FarmProfilt.Android/.idea/deviceManager.xml
FarmProfit/FarmProfilt.Android/.idea/gradle.xml
FarmProfit/FarmProfilt.Android/.idea/migrations.xml
FarmProfit/FarmProfilt.Android/.idea/runConfigurations.xml
FarmProfit/FarmProfilt.Android/.idea/vcs.xml
FarmProfit/FarmProfilt.Android/.idea/inspectionProfiles/Project_Default.xml
